body {
  margin: 0;
  padding: 0;
}

/* If the screen size is 600px wide or less, set the font-size to 11px */
@media only screen and (max-width: 600px) {
  .responsive-font-size {
    font-size: 11px;
  }
}
