body {
  margin: 0;
  padding: 0;
}

/* If the screen size is 600px wide or less, set the font-size to 11px */
@media only screen and (max-width: 600px) {
  .responsive-font-size {
    font-size: 11px;
  }
}

.firework {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -300px;
  z-index: 1;
  pointer-events: none;
}

.bingo-app-bar {
  flex-grow: 1;
  height: 64px;
  background-color: #db8d92;
  color: #333333;
  display: flex;
  position: relative;
  align-items: center;

  .bingo-icon {
    height: 45px;
    margin-left: 10px
  }

  .bingo-app-bar-title {
    margin-left: 10px;
    flex-grow: 1;
  }

  .new-game-button {
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.bingo-board {
  background-color: #fcf5f6;

  .bingo-container {
    height: calc(100vh - 64px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .bingo {
      max-width: 600px;
    }
  }
}

.bingo-board-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin-left: 20px;
  margin-right: 20px;

  ::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  > *:first-child{
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  .bingo-card {
    padding: 8px;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
    white-space: nowrap;
    margin-bottom: 8px
  }
}

.bingo-card-container {
  width: 100%;
  position: relative;
  cursor: pointer;
  
  .bingo-card-item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:4px;
    border: #d0d0d0 solid 1px;
    color: #3d3d3d;
    background-color: #f7e6e8;
  }

  .crossed-out {
    text-decoration: line-through
  }
}
