body {
  margin: 0;
  padding: 0;
}

/* If the screen size is 600px wide or less, set the font-size to 11px */
@media only screen and (max-width: 600px) {
  .responsive-font-size {
    font-size: 11px;
  }
}

.firework {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -300px;
  z-index: 1;
  pointer-events: 'none';
}

.bingo-card-container {
  width: 100%;
  //padding-top: 100%;
  position: relative;
  cursor: pointer;
  
  .bingo-card-item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .crossed-out {
    text-decoration: line-through
  }
}

.bingo-app-bar {
  flex-grow: 1;
  margin-bottom: 20px;

  .bingo-app-bar-title {
    margin-left: 20px;
    flex-grow: 1;
  }

  .new-game-button {
    color: #fff;
  }
}

.bingo-board {
  .app-bar-coontainer {
    height: 84px;
  }

  .bingo-container {
    height: calc(100vh - 84px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .bingo {
      max-width: 600px;
    }
  }
}

.bingo-board-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 24px;

  ::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  > *:first-child{
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  .bingo-card {
    padding: 8px;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
    white-space: nowrap;
    margin-bottom: 8px
  }
}
