body {
  margin: 0;
  padding: 0;
}

/* If the screen size is 600px wide or less, set the font-size to 11px */
@media only screen and (max-width: 600px) {
  .responsive-font-size {
    font-size: 11px;
  }
}

.firework {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -300px;
  z-index: 1;
  pointer-events: none;
}

.bingo-app-bar {
  flex-grow: 1;
  height: 64px;
  border: #333333 3px dotted;
  color: #333333;
  display: flex;
  position: relative;
  align-items: center;

  .bingo-icon {
    height: 45px;
    margin-left: 10px
  }

  .bingo-app-bar-title {
    margin-left: 10px;
    flex-grow: 1;
  }

  .new-game-button {
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    background-color: inherit;
    border: none;
    outline: none;
  }
}

.bingo-board {
  // background: linear-gradient(45deg,#F17C58,#E94584,#24AADB,#27DBB1,#FFDC18,#FF3706);
  background-image: url(../images/wrinkled-paper.jpg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;

  .bingo-container {
    height: calc(100vh - 64px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .bingo {
      max-width: 600px;
    }
  }
}

.bingo-board-container {
  display: grid;
  margin-left: 20px;
  margin-right: 20px;

  ::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  > *:first-child{
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  .bingo-card {
    padding: 8px;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 8px
  }
}

.bingo-card-container {
  width: 100%;
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: inherit;
  padding: 0;
  
  .bingo-card-item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:4px;
    border: #3d3d3d 2px dotted;
    color: #333333;
  }

  .crossed-out {
    text-decoration: line-through;
    background: white;
    opacity: 0.5;
  }

  .highlighted {
    background-color: #2ab7ca;
  }
}
